body, button, input {
  font-family: $fonts;
}

.container {
  width: 1600px;
  margin: auto;
}

.col-2-3 {
  width: 68%;
  height: 100%;
  padding: 24px;
  margin: 0px auto;
}



// attempt at optional margin

// .col-2-3:before, .col-2-3:after {
//     content: "";
//     display: inline-block;
//     width: 15%;
//     min-width: 45px;
// }
