.grid-list-container {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  width: 1200px;
  height: 4500px;
  padding: 24px;
}

.grid-list {
  overflow-y: 'auto';
}

.grid-list-item {
  margin: 17px;
}

#outer-map-container {
  position: fixed;
  top: 98px;
  bottom: -5px;
  right: -5px;
  width: 650px;
}

#map-container {
  height: 100%;
  width: 100%
}

.index-page-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
