.grid-list-container {
  width: 68%;
  height: 100%;
  min-height: 900px;
  padding: 24px;
  margin-top: 100px;
}

.grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.grid-list-item {
  box-sizing: border-box;
  width: 33%;
  min-width: 280px;
  padding: 10px;
}

.list-item-info {
  height: 66px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: $gray-1;
}

#outer-map-container {
  position: fixed;
  top: 98px;
  bottom: -5px;
  right: -5px;
  width: 30%;
  min-width: 390px;
}

#map-container {
  height: 100%;
  width: 100%
}

.index-page-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-list-rating {
  font-size: 12px;
  color: $gray-1;
  padding-left: 5px;
}

.spot-list-subtitle {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  color: $gray-1;
}
