
/*navbar styles*/

.main-nav {
  position: fixed;
  top: -5px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  flex-direction: row;
  height: 100px;
  border-bottom: 1px solid rgb(228, 228, 228);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
}

.main-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(72, 72, 72);
  font-family: $fonts;
}

nav > ul > li > a, .modal-button {
  padding: 6px 0;
  border-bottom: solid 2px transparent;
  font-weight: normal;
  font-size: 14px;
}

nav > ul > li {
  margin: 30px;
}

.main-nav > ul > li > a:hover, .modal-button:hover {
  border-bottom: solid 2px $blue-1;
}

.img-container {
}

.logout-button {

}

.nav-logged-in {

}

.nav-loggged-out {

}

.left-nav-items {

}

.right-nav-items {
  min-width: 440px;
}

.logo-container {
  width: 34px;
}
