* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  text-align: inherit;
  background: transparent;
  position: static;
}

ul, ol {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
