// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-form {
  // padding: 20px;
}

.fa-star, .fa-star-o {
  color: $blue-1;
  font-size: 12px;
}

.ex {
  padding: 20px 0;
  display: block;
}

.rating-line > span:hover {
  cursor: pointer;
  color: $blue-1;
}

.review-item {
  border-bottom: 1px solid $gray-3;
}

.review-item > .review-header {
  display: flex;
  flex-direction: row;
}

.trip-item .btn {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  border: 2px solid transparent;
  background-color: #FF5A5F;
  padding: 12px;
  border-radius: 4px;
  width: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.review-form .review-submit {

}

.review-form .fa-star, .review-form .fa-star-o {
  color: gold;
  font-size: 20px;
  padding: 1px;
}

.review-form .rating-stars {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.review-form textarea {
  width: 100%;
}
