// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-star, .fa-star-o {
  color: $blue-1;
  font-size: 12px;
}

.review-item {
  border-bottom: 1px solid $gray-3;
}

.review-item > .review-header {
  display: flex;
  flex-direction: row;
}

.trip-item .btn {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  border: 2px solid transparent;
  background-color: #FF5A5F;
  padding: 12px;
  border-radius: 4px;
  width: 60px;
  width: 100%;
}
