.searchbar {
  height: 60px;
  border: 1px solid $gray-3;
  display: flex;
  align-items: center;
}

.searchbar > * {

}


.searchbar input {
  border: none;
  outline: none;
  font-size: 16px;
}

.searchbar label > input {
  width: 60px;
  transition: border-bottom .5s, width .5s;
}

.searchbar select {
  z-index: 1;
  width: 105px;
  font-size: 16px;
  -webkit-transition: border-bottom .5s, width .5s;
}
.searchbar label > input:focus {
  width: 300px;
  outline: none;
  border-bottom: 2px solid $blue-1;
}

.searchbar > label > select:focus {
  outline: none;
  border-bottom: 2px solid $blue-1;
  width: 200px;
}
