.full-width {
  overflow: hidden;
  height: 90%;
}

.full-width-image {
  height: 650px;
}

.spot-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $gray-1;
}

.spot-details > * {
  margin-bottom: 24px;
  margin-top: 24px;
}

.spot-details > .info> h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -0.6px;
  line-height: 44px;
  padding-top: 24px;
  word-wrap: break-word;
}

.spot-details > .info {
  width: 60%;
  min-width: 680px;
  margin-right: 18px;
}

.spot-details > .info h2 {
  font-size: 22px;
  font-weight: normal;
  height: auto;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  margin: 20px 0;
}

.spot-details > .info div {
  margin: 20px 0;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  color: $gray-2;
  padding: 20px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid $gray-3;
  border-bottom: 1px solid $gray-3;
}

.icons > div {
  width: 175px;
  text-align: center;
}

.icons > div > img {
  width: 30px;
  margin: auto;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 18px;
}

.links > span, .links > a:nth-child(1){
  padding-right: 5px;
  font-weight: bold;
  color: $gray-1;
}

.links > a {
  padding-right: 5px;
  color: $blue-1;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.links > a:hover {
  border-bottom: solid 2px $blue-1;
}

.reviews-container {
  font-size: 17px;
  font-weight: 300;
  color: $gray-2;
}
