.grid-list-container {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
}

.gridList {
  width: 500;
  height: 450;
  overflow-y: 'auto';
}

#map-container {
  height: 500px;
  width: 500px;
}
