.trip-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.trip-info {

}

.host-info {
  position: relative;
  left: -33px;
  bottom: -120px;
  text-align: center;
}

.trip-index {
  margin-top: 100px;
}
