.trip-item {
  display: flex;
  justify-content: space-between;
}

.trip-item .grid-list-item {
  width: 98%;
  padding: 0 0 20px 0;
}

.grid-list-item a img {
  height: 70%;
}

.trip-info {
  width: 220px;
  border: 1px solid $gray-3;
  border-radius: 2px;
  padding: 20px;
}

.trip-info > ul {
  display: flex;
  flex-direction: column;
}

.trip-info > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.host-info {
  position: relative;
  left: -9px;
  bottom: -394px;
  text-align: right;
}

.trip-index {
  margin-top: 100px;
}
